.coustomer_text {
    font-size: calc(1rem + .9vw);
    font-weight: 400;
    background: linear-gradient(90deg, #AFC8C0 0%, #F1A07E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}