.article {
    padding-top: 90px;
    min-height: 100vh;
}


.left_main {
    color: #000;
}

.left_main::-webkit-scrollbar {
    display: none;

}

.imgcontainer {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

}



.content_article_left {
    padding-left: 3.2rem;
}

.content_article_right {
    padding-right: 3.2rem;
}


.title {
    font-size: calc(1.5rem + .1vw);
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 36px;
    margin: 2rem 0
}

.main_text {
    line-height: 24px;
    margin-bottom: 2rem;
}

.text_content {
    font-weight: 400;
    line-height: 31.51px;
    text-align: justify
}


.related_articles_wrapper_left {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.related_articles_wrapper_right {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}


.related_text {
    font-size: calc(1.5rem + .1vw);
    font-weight: 700;
    margin-bottom: 2rem;
}

.related_articles_content {
    display: flex;
    flex-direction: column;
}

.fixed_left {
    transition: all .5s ease-in;
    position: fixed;
    background-color: #f9f9f9;
    top: 90px;
    right: 0px;
    width: 32%;
}

.fixed_right {
    transition: all .5s ease-in;
    position: fixed;
    top: 90px;
    left: 0px;
    width: 32%;
    background-color: #f9f9f9;
}

.user_info {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.user_profile {
    display: flex;
    margin-top: 2rem;
    padding: 0 3.2rem;
}

.img_profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user_texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px;
    font-size: .9rem;
}

.related_article_bottom {
    padding: 0 1rem;
}

.wrap_top_mainarticle {
    display: flex;
    align-items: end;
}

.end {
    justify-content: end;
}

@media (min-width:1200px) {


    .related_article_bottom {
        display: none;
    }

    .redius_right {
        border-radius: 20px 0px 0px 20px;
    }

    .redius_left {
        border-radius: 0 20px 20px 0;
    }
}

@media (max-width:1199px) {

    .related_articles_wrapper_left,
    .related_articles_wrapper_right {
        display: none;
    }

    .related_article_bottom {
        margin-top: 3rem;
        padding: 0 3.2rem;
    }

    .content_article_left {
        padding: 0 3.2rem;
    }

    .content_article_right {
        padding: 0 3.2rem;
    }

    /* .text_content{
        width: ;
    } */
}

@media (max-width:1025px) {
    .left_main {
        padding: 0 2rem;
        margin-bottom: 2rem;
    }

    .related_article_bottom {
        padding: 0 2rem;
    }

    .article_content {
        margin-top: 2.5rem;
        padding: 0 2rem;
    }

    .img_mainarticle {
        border-radius: 0;
    }

    .content_article_left,
    .content_article_right {
        padding: 0;
    }

    .user_profile {
        padding: 0 2rem;
    }

}

@media (max-width:600px) {
    .left_main {
        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .imgcontainer {
        height: 250px;
    }

    .article_content {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .content_article_left,
    .content_article_right {
        padding: 0;
    }

    .user_profile {
        padding: 0 1rem;
    }

    .related_article_bottom {
        display: none;
    }

}