.header_container {
    width: 100%;
    padding: 15px 40px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 7;
    background-color: #F9F9F9;
}

.section_one_header {
    display: flex;
    align-items: center;
}

.header_logo {}

.header_menu {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.header_link,
.header_items_wrapper {
    all: unset;
    margin: 0 1.5rem;
    cursor: pointer;
}

.header_link {
    position: relative;
}

.header_link::after {
    display: block;
    content: "";
    width: 0%;
    position: absolute;
    top: 102%;
    height: 1.5px;
    background-color: black;
    transition: all .5s;
}

.header_link:hover::after {
    width: 100%;
}

.header_items_wrapper {
    position: relative;
}

.header_dropdown {
    display: flex;
    align-items: center;
}

.drop {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 130%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-height: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header_items_wrapper:hover .drop {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
}

.products_text {}

.icon_drop {
    transition: all .5s;
}

.header_items_wrapper:hover .icon_drop {
    transform: rotate(180deg);
}

.product_link {
    all: unset;
    padding: 0 15px;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    align-items: center;
    height: 50px;
}

.image_logo {
    margin: 0 10px;
    width: 30px;
    height: auto;
}

.product_link:hover {
    background-color: #f3efef;
    padding-left: 10px
}

.right_product_link:hover {
    padding-right: 10px;
    padding-left: 0
}

.header_link {}

.header_actions {
    display: flex;
    align-items: center;
}

.header_wrap_btn_switch {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn_switch {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--color-10);
}

.active {
    color: #fff;
    background-color: var(--color-3);
}

.active_route {
    border-bottom: 2px solid;
}

@media (max-width:1068px) {
    .header_container {
        padding: 15px 20px;
    }
}

@media (max-width:1025px) {}


@media (max-width:600px) {}