.mediaItem {
    all: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

.rightmedia {
    margin-right: 0;
    margin-left: 40px;
}

.icon {}