.footer_container {
    margin-bottom: 20px;
}

.footer_wrapper_top {
    background-color: var(--color-1);
    width: 100%;
    padding: 3rem 0 3.5rem 0;
}

.contactus_form_left {
    padding-left: 13%;
}

.contactus_form_right {
    padding-right: 13%;
}

.contactus_title {
    font-size: calc(2rem + .1vw);
    margin-bottom: 3rem;
    color: #fff;
    width: max-content;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: var(--border-redi);
    padding: 10px 20px;
    min-width: 90px;
    margin-top: 1rem;
}

.btn_rtl {
    direction: rtl;
}

.icon {
    margin-left: 5px;
    font-size: 1.2rem
}

.icon_rotate {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 5px;
}

.color {
    background-color: var(--color-1);
}

.wrap_two_top_input {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 50%;
}

.actions_slider {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.btn_slider {
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.next {
    margin-left: 1rem;
}

.next_right {
    margin-left: 0;
    margin-right: 1rem;
}

.footer_wrapper_bottom {
    background-color: var(--color-2);
    padding: 2rem 0 0 0
}

.footer_content_bottom {
    width: 87%;
    margin: 0 auto;
}


.contactus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media_item {
    display: flex;
    align-items: start;
    margin-bottom: 1.5rem;
}

.text_media {
    line-height: 24px;
    color: var(--color-1);
    margin: 0 5px;
    font-size: .9rem;
}

.wrap_logo_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.wrap_logo {
    position: relative;
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.text_footer {
    font-size: .9rem;
    line-height: 24px;
    text-align: justify;
}

.medias_wrap {
    border-bottom: 1px solid #9f9f9f;
    height: fit-content;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
}

.nobin_text {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #9f9f9f;
    font-size: .9rem;
}

.title_footer {
    font-size: 1.7rem;
    font-weight: bold;
    width: 87%;
    margin: 0 auto;
    margin-top: 2rem;
}

@media (max-width:1025px) {

    .footer_content_bottom {
        width: 100%;
        padding: 0 20px;
    }

    .contactus_form_left {
        padding: 0 20px;
    }

    .contactus_form_right {
        padding: 0 20px;
    }
}

@media (min-width:900px) {
    .wrap_part_footer_2 {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .wrap_part_footer_3 {
        display: flex;
        align-items: end;
    }
}

@media (max-width:900px) {
    .wrap_two_top_input {
        width: 100%;
    }

    .wrap_sliders {
        padding: 0 20px;
    }

    .wrap_part_footer_3 {
        align-items: center;
    }
}

@media (max-width:600px) {
    .footer_content_bottom {
        width: 100%;
        padding: 0 15px;
    }

    .actions_slider {
        display: none;
    }

    .contactus_form_left {
        padding: 0 15px;
    }

    .contactus_form_right {
        padding: 0 15px;
    }

    .wrap_sliders {
        padding: 0 15px;
    }
}