.footer_container {
    color: var(--color-10);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 0;
    background-color: var(--color-2);
}

.color {
    background-color: var(--color-1);
}