.section3_wrapper {
    padding: 3rem 0;
}

.title {
    font-size: calc(1.4rem + .2vw);
    font-weight: 700;
    margin-bottom: 2rem;
}

.about_des {
    line-height: 28px;
    color: var(--color-1);
    text-align: justify;
    width: 80%;
}

.stack_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    gap: 20px;
}

.techstack{
    font-weight: bold;
}

@media (max-width:1024px) {
    .about_des {
        width: 100%;
    }

    .title {
        font-size: calc(1rem + .5vw);
    }
}

@media (max-width:940px) {
    .section3_wrapper {
        padding: 2rem 0;
    }
}


@media (max-width:600px) {
    .about_des {
        text-align: justify;
    }
}