.item_wrapper {
    background-color: #000;
    color: #fff;
    direction: ltr;
}

.item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 7px 30px;
    font-size: .9rem;
    width: 181px;
}

.img_wrapper {
    width: 20px;
    height: auto;
}

.img_wrapper>img {
    width: 20px;
    height: 100%;
}

.text_tech {
    margin: 0 0 0 7px;
}


@media (max-width:1306px) {
    .item_wrapper {
        width: 47%;
    }
}

@media (max-width:1164px) {
    .item_wrapper {
        width: 47%;
    }
}

@media (max-width:908px) {
    .item_wrapper {
        width: 45%;
        padding: 10px 30px;
    }
}

@media (max-width:397px) {
    .item_wrapper {
        width: 46%;
    }
}