.container {
    padding-top: 90px;
}

.toparticles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1.2rem;
    grid-template-areas: "sec_1 sec_1 sec_2" "sec_1 sec_1 sec_2" "sec_1 sec_1 sec_2" "sec_1 sec_1 sec_2" "sec_1 sec_1 sec_3" "sec_1 sec_1 sec_3" "sec_1 sec_1 sec_3" " sec_4 sec_4 sec_3";
}

.item {
    height: 80px;
    border-radius: var(--border-redi2);
    overflow: hidden;
}

.item_1 {
    grid-area: sec_1;
    height: 100%;
    position: relative;
}

.item_1>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.firstarticle_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 20px;
}

.texts_first_article {
    all: unset;
    cursor: pointer;
    color: #fff;
    margin-top: 1.5rem;
}

.first_article_title {
    font-weight: 700;
    font-size: calc(1.5rem);
    line-height: 30px;
    letter-spacing: 2px;
    width: 83%;
    margin-bottom: 1rem;
}

.first_article_text {
    font-weight: 100;
    line-height: 24px;
}

.item_2 {
    grid-area: sec_2;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.item_2>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.user_info {
    display: flex;
    align-items: start;
    width: max-content;
    z-index: 2;
}

.user_info>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.user_texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--color-1);
    justify-content: space-around;
    font-weight: 400;
    height: 60px;
    margin: 0 6px;
}

.user_name {}

.date {}

.texts_wrapper {
    all: unset;
    cursor: pointer;
    line-height: 24px;
    z-index: 2;
}

.user_title {
    font-weight: 700;
    margin-bottom: 2rem;
}

.user_text {}


.item_3 {
    grid-area: sec_3;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.item_3>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.texts_wrapper2 {
    padding: 20px;
    line-height: 24px;
    z-index: 2;
}

.item_4 {
    grid-area: sec_4;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.top_text {
    font-weight: 700;
    font-size: calc(2rem + .8rem);
    color: #fff;
}

.f_article {
    color: #fff;
}


.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle,
.circle_right {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.circle {
    margin-left: -30px;
}

.circle_right {
    margin-left: 0%;
    margin-right: -30px;
}


.circle:first-child {
    margin-left: 0;
}

.circle_right:first-child {
    margin-right: 0;
}


.circle:hover {
    transform: translateY(-10px);
}

.circle1 {
    z-index: 5;
}

.circle2 {
    z-index: 4;
}

.circle3 {
    z-index: 3;
}

.circle4 {
    z-index: 2;
}

.circle5 {
    z-index: 1;
}

.toparticles_m {
    display: none;
}

@media (max-width: 1025px) {
    .item {
        height: 100%;
    }

    .toparticles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 38vh max-content max-content;
        gap: 1.2rem;
        grid-template-areas:
            "sec_1  sec_1"
            "sec_2  sec_3"
            "sec_4  sec_4";
    }

}

@media (max-width:600px) {

    .item_1,
    .item_2,
    .item_3 {
        min-height: 340.1px;
    }

    .item_1 {
        display: flex;
        align-items: end;
    }

    .texts_first_article {
        margin-top: 0;
    }

    .toparticles {
        display: none;
    }

    .toparticles_m {
        display: block;
    }

    .item_4 {
        flex-direction: column;
        align-items: start;
    }

    .first_article_title {
        width: 95%;
        font-size: 1.2rem;
        letter-spacing: normal;
    }

    .item_2 {
        justify-content: end;
    }

    .user_title {
        font-size: 1.2rem;

    }

    .top_text {
        font-size: 2rem;
        margin-left: 5px;
    }

    .image_container {
        margin-top: 2rem;
    }

    .circle {
        margin-left: -20px;
    }


    .user_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;
        margin: 10px 0 2rem 0;
        color: #fff;
        width: 100%;
    }

    .user_left {
        display: flex;
        align-items: center;
    }

    .text {
        margin: 0 10px;
    }

    .user_left>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
}