.aboutus_content {
    width: 100%;
}

.wrap {
    width: 100%;
    height: 80dvh;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 5rem 0 2rem 0;
}

.aboutus_bottom {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.grid_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: grid;
    grid-template-columns: 15% 15% 55% 15%;
    grid-template-rows: 100%;
    z-index: 77;
}

.grid_overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    width: 10px;
    background-color: #f9f9f9;
}

.grid_overlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    width: 10px;
    background-color: #f9f9f9;
}

.grid_overlay .line_85 {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 85%;
    width: 10px;
    background-color: #f9f9f9;
}

.aboutus_title {
    font-size: calc(1.5rem + 1vw);
    font-weight: 500;
    color: #fff;
    width: max-content;
    padding-bottom: 20px;
}

.text_video {
    position: absolute;
    top: 15%;
    width: 40%;
    line-height: 28px;
    color: #fff;
    text-align: justify;
}

.video_en {
    left: 35%;
}

.video_fa {
    right: 18%;
}

.cover_video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: #000000af;
}

.section1_wrapper_m {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 4.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .section1_wrapper_m {
        height: 60dvh;
        position: relative;
        width: 100%;
        max-height: 500px;
        min-height: 500px;
        overflow: hidden;
    }
}


@media (max-width:1024px) {
    .aboutus_content {
        padding: 4rem 0;
    }

    .aboutus_top {
        margin-top: 3rem;
    }

    .line {
        display: none;
    }

    .aboutus_title {
        position: absolute;
        top: 40px;
        width: 80%;
        left: 50%;
        transform: translate(-50%);
    }

    .main_text {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
        color: #fff;
        line-height: 28px;
        font-size: .9rem;
        z-index: 6;
    }

    .aboutus_bottom {
        margin-top: 2rem;
    }
}


@media (max-width:768px) {
    .section1_wrapper_m {
        height: 80dvh;
        position: relative;
        width: 100%;
        max-height: 500px;
    }
}

@media (max-width:600px) {
    .aboutus_text {
        width: 100%;
        font-size: 1.1rem;
    }
}



/* .line {
    height: 100%;
    width: 1px;
    background-color: #fff;
} */