.section1_wrapper {
    width: 100%;
    background: url("/images/aboutusback.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: var(--visual-height);
}

.aboutus_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 3rem;
}

.aboutus_top {
    /* margin-bottom: 5rem; */
}

.aboutus_title {
    font-size: calc(1.5rem + 1vw);
    font-weight: 500;
    background: linear-gradient(90deg, #AFC8C0 0%, #F1A07E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: max-content;
    margin-bottom: 2rem;
}

.aboutus_text {
    width: 70%;
    text-align: start;
    line-height: 30px;
    color: #fff;

}

.aboutus_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #fff;
}

@media (max-width:1025px) {
    .section1_wrapper {
        height: max-content;
    }

    .aboutus_content {
        padding: 4rem 2rem;
    }

    .aboutus_top {
        margin-top: 3rem;
    }

    .aboutus_text {
        margin-bottom: 4rem;
    }

    .line {
        display: none;
    }
}

@media (max-width:992px) {
    .section1_wrapper {
        background: var(--color-1);
    }
}

@media (max-width:890px) {
    .section1_wrapper {
        height: max-content;
    }

    .aboutus_text {
        width: 80%;
        margin-bottom: 2rem;
    }
}

@media (max-width:768px) {
    .aboutus_text {
        width: 90%;
    }
}


@media (max-width:600px) {
    .aboutus_content {
        padding: 4rem 1.5rem;
    }

    .aboutus_text {
        width: 100%;
        font-size: 1.1rem;
    }
}