.slider_container {
    padding: 3rem 0 2rem 3rem;
}

.slider_right {
    padding: 3rem 3rem 2rem 0rem;
}

.text_actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text_slider {
    background: linear-gradient(90deg, #AFC8C0 0%, #F1A07E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(2rem + .6vw);
    line-height: 60px;
    font-weight: 400;
    width: max-content;
}

.actions_slider {
    display: flex;
    align-items: center;
}


.btn {
    border-radius: 50%;
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.prev {}

.next {
    margin-left: 2rem;
}

.next_right {
    margin-left: 0;
    margin-right: 2rem;
}


@media (max-width:1025px) {
    .slider_container {
        padding: 3rem 0 2rem 2rem;
    }

    .slider_right {
        padding: 3rem 2rem 2rem 0rem;
    }
}

@media (max-width:900px) {
    .actions_slider {
        margin: 1.5rem 0 1rem 0;
    }
}

@media (max-width:600px) {
    .actions_slider {
        display: none;
    }

    .slider_container {
        padding: 3rem 0 2rem 0;
    }

    .slider_right {
        padding: 3rem 0 2rem 0;
    }

    .text_actions {
        padding-left: 1.5rem;
    }

    .text_actions_right {
        padding-left: 0;
        padding-right: 1.5rem;
    }
}