.container_slide {
    display: flex;
    width: 100%;
    height: 84dvh;
    margin-top: 80px;
}

.panel {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    height: 100%;
    overflow: hidden;
}

.panel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 5;
    backdrop-filter: blur(15px);
}

.panel:hover {
    flex: 0.7;
}

.panel.active {
    flex: 5;
    backdrop-filter: blur(0);
}

.panel.active::before {
    backdrop-filter: blur(0);
}

.icon {
    font-size: 2rem;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;
    z-index: 12;
    color: lightgray;
    width: 40px;
    height: 40px;
}

.active .icon {
    display: none;
}

.title_wrap_en {
    color: #fff;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
    direction: ltr;
    display: inline-block;
    width: max-content;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 12;
    font-size: .9rem;
    width: 200px;
}

.panel.active .title_wrap_en {
    top: 20px;
    left: 20px;
    right: auto;
    transform: rotate(0);
    margin: 0;
}

.title_wrap_fa {
    color: #fff;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%) rotate(-90deg);
    direction: rtl;
    display: inline-block;
    width: max-content;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 12;
    font-size: .9rem;
    width: 200px;
}

.panel.active .title_wrap_fa {
    top: 20px;
    left: auto;
    right: 20px;
    transform: rotate(0);
    margin: 0;
}




.swiper_slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper_slider>img {
    width: 100%;
    height: 100%;
}


.container_slide_m {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 5rem;
}

.btn_slide {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--color-1);
    border: 1px solid #fff;
}


.custom_buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    gap: 20px;
    left: 10px
}

.arrowIcon {
    color: #fff;
}

.cover_slides {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #00000051;
}

.swiper_item {
    position: relative;
}


.wrap_title_m {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    color: #fff;
    font-size: .9rem;
    gap: 10px;
}


.wrap_title_m_en {
    left: 10px;
}

.wrap_title_m_fa {
    direction: rtl;
    right: 10px;
}


.image_header_item {
    /* object-fit: cover; */
    width: 100% !important;
    height: 100% !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container_slide_m {
        height: 50dvh;
        max-height: 500px;
        min-height: 500px;
    }


}

@media (max-width:768px) {
    .container_slide_m {
        height: 85dvh;
        max-height: 500px;
    }
}