.container {
    background-color: var(--color-1);
    padding: 20px 4rem 0 4rem;
}

@media (max-width:1025px) {
    .container {
        padding: 20px 2.5rem 0 2.5rem
    }
}

@media (max-width:600px) {
    .container {
        padding: 20px 1rem 0 1rem
    }
    
}