.section1_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 6rem 0 1.2rem 0;
}

.logo_wrapper {
    width: 100px;
    height: auto;
    position: relative;
}

.logo_wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_title {
    color: var(--color-1);
    font-weight: 600;
    font-size: calc(1.1rem + .4vw);
    width: 50%;
    margin: 3rem 0 3rem 0;
    line-height: 35px;
}

@media (max-width:1024px) {
    .product_title {
        font-size: calc(1rem + .3vw);
    }
}

@media (max-width:992px) {
    .product_title {
        width: 80%;
    }
}

@media (max-width:940px) {}


@media (max-width:768px) {
    .product_title {
        margin: 1rem 0 0 0;
    }
}

@media (max-width:600px) {

    .product_title {
        width: 100%;
        text-align: justify;
    }

    .btn_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}