.marquee {
    display: flex;
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
    align-items: center;
    block-size: var(--marquee-item-height);
    margin: 20px 0;
}

.marquee__8 {
    --marquee-item-width: 100px;
    --marquee-item-height: 70px;
    --marquee-duration: 36s;
    --marquee-items: 8;
}

.marquee__item {
    position: absolute;
    inset-inline-start: var(--marquee-item-offset, 100%);
    transform: translateX(-50%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
}

.marquee__item:nth-child(4n) {
    border-top-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 1) {
    border-bottom-right-radius: 1rem;
}

.marquee__item:nth-child(4n + 2) {
    border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(4n + 3) {
    border-top-left-radius: 1rem;
}

@keyframes go {
    from {
        inset-inline-start: 100%;
    }

    to {
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}

@media (max-width: 1024px) {
    .marquee__8 {
        --marquee-items: 6;
    }
}

@media (max-width: 768px) {
    .marquee__8 {
        --marquee-items: 5;
    }
}

@media (max-width: 480px) {
    .marquee__8 {
        --marquee-items: 4;
    }
}