.comment_wrapper {
    padding: 0 3.2rem;
    margin-top: 3.5rem;
    color: #fff;
}

.comment_container {
    max-height: 90vh;
    overflow-y: auto;
}

.comment_container::-webkit-scrollbar {
    width: 4px
}

.comment_container::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

.comment_container::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
}


.comment_title {
    font-size: calc(1.5rem + .1vw);
    font-weight: 700;
    margin-bottom: 2.5rem;
}


.send_comment_form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.input_name_comment {
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    width: 100%;
}

.comment_textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    padding: 7px 10px;
    margin-top: 6px;
    border-radius: 10px;
    height: 200px;
}

.input_wrapper {
    width: 100%;
    margin-top: 2rem;
}

.btn {
    margin: 20px 0;
    background-color: #000;
    min-width: 130px;
    padding: 10px 0;
    text-align: center;
    border-radius: 200px;
}

.comment_title {
    font-family: 700;

}

@media (max-width:1025px) {
    .comment_wrapper {
        padding: 0 2rem
    }
}

@media (max-width:992px) {
    .send_comment_form {
        width: 70%;
    }
}

@media (max-width:600px) {
    .comment_wrapper {
        padding: 0 1rem
    }

    .send_comment_form {
        width: 100%;
    }
}


/* .comment_container::-webkit-scrollbar {
    display: none;
}


.comment_container {
    -ms-overflow-style: none;

}


.comment_container {
    scrollbar-width: none;
} */