.btn {
    all: unset;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: var(--border-redi);
    padding: 11px 20px;
    cursor: pointer;
    width: max-content;
}

.icon {
    margin-left: 5px;
    font-size: 1.2rem
}

.rotate {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 5px;
}

.bgcolor {
    background-color: #fff;
    color: #000;
}

.rightdir {
    direction: rtl;
}