.card {
    padding: 20px 30px 50px 30px;
    color: #000;
    background-color: #f9f9f9;
    border-radius: var(--border-redi2);
    height: 100%;
    min-height: 301px;
}

.card_right {
    direction: rtl;
}

.card_header {
    display: flex;
    align-items: center;
}

.card_image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.card_title {
    margin-left: 1.2rem;
    font-size: 18px;
    line-height: 24px;
}

.card_title_right {
    margin-left: 0;
    margin-right: 1.2rem;
}

.card_content {
    margin-top: 2rem;
}

/* .card_content::-webkit-scrollbar {
    display: none;
} */

.card_text {
    text-align: justify;
    font-weight: 400;
    font-size: .9rem;
    line-height: 24px;
}