.allarticle {
    margin-top: 5rem;
}

.left_article {
    max-height: 1182px;
    overflow-y: auto;
    padding-right: 10px;
    border-right: 1px solid
}

.left_article_right {
    max-height: 1182px;
    overflow-y: auto;
    padding-left: 10px;
    border-left: 1px solid
}


.left_article::-webkit-scrollbar {
    display: none;
}


.left_article_right::-webkit-scrollbar {
    display: none;
}



.filtering {
    padding-bottom: 7rem;
}

.trendig_text,
.filter_title {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
}


.right_article {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.filter_btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.btn_filter {
    background-color: #cfd3d6;
    border-radius: var(--border-redi);
    color: var(--color-1);
    width: 130px;
    padding: 12px 0;
    text-align: center;
    font-weight: 400;
}

.active {
    color: #fff;
    background-color: #000;
}

.trending_item_wrapper {
    max-height: 80vh;
    overflow-y: auto;
}

.trending_item_wrapper::-webkit-scrollbar {
    display: none
}

.showmore_wrapper {
    display: flex;
    justify-content: center;
}

.show_more_btn {
    border-bottom: 1px solid #000;
}



@media (max-width:1200px) {
    .right_article {
        flex-direction: row;
    }

    .trending,
    .filtering {
        width: 45%;

    }
}

@media (max-width:986px) {
    .filter_btns {
        justify-content: center;
    }
}

@media (max-width:900px) {
    .filter_btns {
        justify-content: start;
    }

    .right_article {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .trending {
        width: 48%;
    }

    .filtering {
        width: 45%;
    }

}

@media (max-width:704px) {
    .filter_btns {
        justify-content: center;
    }

    .filter_title {
        text-align: center;
    }
}

@media (max-width:600px) {
    .right_article {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .filter_btns {
        justify-content: start;
    }

    .filter_title {
        text-align: start;
    }

    .trending,
    .filtering {
        width: 100%;
    }

}