.contactus_container {
    margin-top: 5rem;
    margin-bottom: 20px;
}

.contactus_title {
    font-size: calc(2rem + .1vw);
    margin-bottom: 4rem;
    background: linear-gradient(90deg, #AFC8C0 0%, #F1A07E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: max-content;
    padding-right: 4rem;
}

.contactus_form {
    padding: 0 0 0 4rem;
}

.contactus_form_right {
    padding: 0 4rem 0 0;
}

.btn_wrapper {
    margin-top: 3rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    color: #fff;
    border-radius: var(--border-redi);
    padding: 10px 20px;
    min-width: 90px;
    font-weight: 100;
}

.icon {
    margin-left: 5px;
    font-size: 1.2rem
}

.rotate {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 5px;
}


.contactus_socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media_item {
    display: flex;
    align-items: start;
    margin-bottom: 2.6rem;
}

.text_media {
    line-height: 20px;
    color: var(--color-1);
    width: 80%;
}

.btn_rtl {
    direction: rtl;
}

.icon_rotate {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 5px;
}



@media (min-width:900px) {
    .wrap_left_contactus {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:900px) {
    .contactus_container {
        width: 90%;
        margin: 2rem 0 0 0;
        padding: 0 20px;
    }

    .contactus_form {
        padding: 0;
    }

    .contactus_form_right {
        padding: 0;
    }
}