.related_wrapper {
    all: unset;
    cursor: pointer;
    margin-bottom: 1.3rem;
}

.img_wrapper {
    position: relative;
    border-radius: var(--border-redi2);
    overflow: hidden;
}

.item_contnet {
    display: flex;
    flex-direction: column;
}

.item_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.item_title {
    font-weight: bold;
    font-size: calc(1rem + .1vw);
}

.item_date {
    color: #6d6d6d;
}

.item_text {
    color: #6d6d6d;
    line-height: 18px;
    text-align: justify;
    font-size: 14px;
}

@media (min-width:1200px) {
    .img_wrapper {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:1200px) {
    .img_wrapper {
        height: 120px;
    }
}