.section4_wrapper {
    background-color: #fff;
    padding: 3rem;
}

.catalog_wrapper {
    padding: 0 50px;
    justify-content: space-evenly;
}

.title {
    font-size: calc(1.4rem + .2vw);
    font-weight: 700;
    margin-bottom: 2rem;
}

.how_work_text {
    text-align: start;
    color: var(--color-1);
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 4rem;
}

.img_screen {
    margin-bottom: 5rem;
    width: 500px;
    height: 600px;
}

.img_screen_last {
    width: 500px;
    height: 600px;
}

.img_screen>img {
    width: 100%;
    height: 100%;
}

.img_screen_last>img {
    width: 100%;
    height: 100%;
}


@media (max-width:1028px) {
    .catalog_wrapper {
        padding: 0;
    }
}

@media (max-width:940px) {
    .section4_wrapper {
        padding: 3rem 2rem;
    }
}

@media (max-width:925px) {

    .img_screen,
    .img_screen_last {
        width: 400px;
        height: 500px;
    }
}

@media (max-width:741px) {

    .img_screen,
    .img_screen_last {
        width: 300px;
        height: 400px;
    }
}

@media (max-width:601px) {
    .img_screen {
        margin: 0 auto 5rem auto;
    }

    .img_screen_last {
        margin: 0 auto;
    }

    .img_screen,
    .img_screen_last {
        width: 95%;
        height: auto;
    }
}